@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background-color: #f9fafb; /* bg-gray-50 と同じ色 */

  background-image: radial-gradient(#e5e7eb 1px, transparent 1px);
  background-size: 20px 20px;

  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes marching-ants {
  to {
    stroke-dashoffset: -32;
  }
}

.line-path {
  animation: marching-ants 1.5s linear infinite;

  animation-play-state: paused;
}

.line-path.animated {
  animation-play-state: running;
}

@keyframes float {
  0% {
    transform: translateY(0px) scale(1);
    opacity: 0.2;
  }
  50% {
    transform: translateY(-50px) scale(1.05);
    opacity: 0.3;
  }
  100% {
    transform: translateY(0px) scale(1);
    opacity: 0.2;
  }
}